@import 'mixins/mix';
@import 'base/var';
@import 'base/reset';
@import 'base/global';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/loading';

.page_01,.page_02{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.page_01{
    @include flex("",center,center);
    position: relative;
    background-color: white;
    .about_intro{
        margin: auto 100px;
        letter-spacing: 0.15em;
        flex: 1;
        h1{
            margin-bottom: 23px;
            color:$green;
            font-size: 28px;
            font-weight: 700;
            line-height: 33px;
            span{
                margin-left: 13px;
                color: $gray3;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
            }
        }
        p{
            margin-bottom: 1em;
            color: $gray2;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
        }
        button{
            margin-top: 20px;
            @include learnmore(12px,50px);
        }
    }

    img{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 300px;
    }

    .office_pic{
        @include flex("",center,center);
        flex: 1;
        height: 100%;
        img{
            position: static;
            width: 100%;
            max-width: 654px;
        }
    }
}
.page_02{
    @include flex("",center,center);
    position: relative;
    background-image: url('../img/about/background_02.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .animation_01{
        position: absolute;
        left: 30px;
        top: 150px;
        font-size: 68px;
        font-weight: 900;
        line-height: 80px;
        letter-spacing: 0em;
        color: $green;
    }
    .animation_02{
        position: absolute;
        right: 30px;
        bottom: 150px;
        font-size: 80px;
        font-weight: 900;
        line-height: 94px;
        letter-spacing: 0em;
        color: transparent;
        -webkit-text-stroke: 1px rgba(130, 130, 130, 0.5);
    }

    .page02_circle{
        @include flex("",center,center);
        position: relative;
        width: 401.67px;
        height: 401.67px;
        .inner_circle{
            margin: auto;
            z-index: 2;
            width: 311.05px;
            height: 311.05px;
            background-image: url('../img/about/ball_up.png');
        }
        .out_circle{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-image: url('../img/about/ball_down.png');
            background-position: center;
        }
        .ball_item{
            @include flex(column,center,center);
            position: absolute;
            img{
                width: 56px;
            }
            span{
                position: absolute;
                width: 250px;
                color: $gray2;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 0.15em;
            }
        }
        .ball_item:nth-child(1){
            right: 120px;
            top: -20px;
            span{
                top: -40px;
                left: -70px;
            }
        }
        .ball_item:nth-child(2){
            right: 345px;
            top: 270px;
            span{
                left: -220px;
            }
        }
        .ball_item:nth-child(3){
            right: -26px;
            top: 170px;
            span{
                left: 70px;
            }
        }
    }
}
.page_03{
    padding:30px 0;
    width: 100vw;
    height: 200vh;
    overflow-x: hidden;
    background: rgba(132, 214, 219, 1);
    background-image: linear-gradient(90deg,rgba(255,255,255,.3) 1px, transparent 0);
    background-size: 150px 150px;
    .dream_picture{
        flex: 1;
        img{
            width: 100%;
            max-width: 345px;
            margin: auto;
        }
    }
    .dream_box{
        @include flex("",center,center);
        margin: 120px 0;
    }
    .dream_text{
        flex: 1;
        margin: auto;
        padding:20px 50px;
        h2{
            color: transparent;
            -webkit-text-stroke: 2px #fff;
            font-size: 80px;
            font-weight: 500;
            line-height: 94px;
            letter-spacing: 0em;
        }
        span{
            color: white;
            -webkit-text-stroke: 0px #fff;
            font-size: 28px;
            font-weight: 700;
            line-height: 33px;
            letter-spacing: 0.1em;
        }
        p{
            margin-top: 33px;
            color: white;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0.1em;
        }
    }
}
.page_04{
    background-color: white;
    width: 100vw;
    height: 90vh;
    overflow-x: hidden;

    ul{
        margin: 100px auto;
        text-align: center;
        color: $gray2;
        font-size: 16px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0.1em;
    }
    .pic_carousel{
        img{
            width: 100%;
            max-width: 415px;
            height: 223px;
        }
        .slick-slide {
            margin: 0 10px;
        }
    }
}