@import 'mixins/mix';
@import 'base/var';
@import 'base/reset';
@import 'base/global';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/loading';
@import 'ask';


.page_01,.page_02{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.page_01{
    @include flex("",center,center);
    position: relative;
    background-color: white;
    z-index: 2;
    .page01_wrap{
        display: flex;
    }
    .about_intro{
        margin: auto 100px;
        letter-spacing: 0.15em;
        flex: 1;
        h1{
            margin-bottom: 23px;
            color:$green;
            font-size: 28px;
            font-weight: 700;
            line-height: 33px;
            span{
                margin-left: 13px;
                color: $gray3;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
            }
        }
        p{
            margin-bottom: 1em;
            color: $gray2;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
        }
        button{
            margin-top: 20px;
            @include learnmore(12px,50px);
            &:hover{
                a{
                    color: white;
                }
            }
        }
        a{
            display: block;
            color:$green;
        }
    }

    img{
        z-index: -1;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 300px;
    }

    .office_pic{
        @include flex("",center,center);
        flex: 1;
        height: 100%;
        img{
            position: static;
            width: 100%;
            max-width: 654px;
        }
    }
}
.check_end{
    width: 100%;
    position: absolute;
}
.check_end{
top: 0;
}


.page_02{
    @include flex("",center,center);
    position: relative;
    background-image: url('../img/about/background_02.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .animation_01{
        position: absolute;
        left: 30px;
        top: 150px;
        font-size: 68px;
        font-weight: 900;
        line-height: 80px;
        letter-spacing: 0em;
        color: $green;
    }
    .animation_02{
        position: absolute;
        right: 30px;
        bottom: 150px;
        font-size: 80px;
        font-weight: 900;
        line-height: 94px;
        letter-spacing: 0em;
        color: transparent;
        -webkit-text-stroke: 1px rgba(130, 130, 130, 0.5);
    }

    .page02_circle{
        @include flex("",center,center);
        position: relative;
        width: 100%;
        height: 60%;
        .inner_circle{
            margin: auto;
            position: absolute;
            z-index: 2;
            width: 275px;
            height: 275px;
            background-image: url('../img/about/ball_up.png');
            background-position: center;
            background-repeat:no-repeat;
        }
        .out_circle{
            opacity: 0;
            position: absolute;
            width: 375px;
            height: 375px;
            z-index: 1;
            background-image: url('../img/about/ball_down.png');
            background-position: center;
            background-repeat:no-repeat;
        }
} 
.orbit{
    @include flex("",center,center);
    position: relative;
    width: 600px;
    height: 600px;
    svg{
        width: 100%;
        height: 100%;
    }
}  
.orbit_ball{
    @include flex("",center,center);
    position: absolute;
    width: 600px;
    height: 600px; 
}
    .orbit_line{
        position: absolute;
        width: 550px;
        height: 550px;
        border-radius: 100%;
    }
    .ball_item{
        position: absolute;
    }
    #ball_01{
        left: 72%;
        top: 2%;
    }
    #ball_02{
        left: -12%;
        top: 23%;
    }
    #ball_03{
        left: 34%;
        top: 86%;
    }
}  
.page_03{
    padding:30px 0;
    width: 100vw;
    height: auto;
    overflow: hidden;
    background: rgba(132, 214, 219, 1);
    background-image: linear-gradient(90deg,rgba(255,255,255,.3) 1px, transparent 0);
    background-size: 150px 150px;
    .dream_picture{
        flex: 1;
        img{
            width: 100%;
            max-width: 345px;
            margin: auto;
        }
    }
    .dream_box{
        @include flex("",center,center);
        margin: 120px 0;
    }
    .dream_text{
        flex: 1;
        margin: auto;
        padding:20px 50px;
        h2{
            color: transparent;
            -webkit-text-stroke: 2px #fff;
            font-size: 80px;
            font-weight: 500;
            line-height: 94px;
            letter-spacing: 0em;
        }
        span{
            color: white;
            -webkit-text-stroke: 0px #fff;
            font-size: 28px;
            font-weight: 700;
            line-height: 33px;
            letter-spacing: 0.1em;
        }
        p{
            margin-top: 33px;
            color: white;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0.1em;
        }
    }
}
.page_04{
    background-color: white;
    width: 100vw;
    height: 90vh;
    overflow-x: hidden;

    ul{
        margin: 100px auto;
        text-align: center;
        color: $gray2;
        font-size: 16px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0.1em;
    }
    .pic_carousel{
        img{
            width: 100%;
            max-width: 415px;
            height: 223px;
        }
        .slick-slide {
            margin: 0 10px;
        }
    }
}
.sp{
    display: none;
}

@media (max-width:$desktop){
    .pc{
        display: none;
    }
    .sp{
        display: block;
    }
    .page_01{
        padding-top: 120px;
        height:auto;
        .page01_wrap{
            flex-direction: column;
        }
        .office_pic{
            margin-bottom: 60px;
        }
        .about_intro button{
            display: block;
            margin: 60px auto;
        }
    }
    .page_03{
        height: auto;
        .dream_text h2{
            font-size: 60px;
        }
        .dream_text span{
            font-size: 21px;
        }
    }

}
@media (max-width:700px){
    .page_02 .animation_01{
        top: 40px;
    }
    .page_02 .animation_02{
        bottom: 40px;
    }
    .page02_circle{
        width: 70%;
        height: 40%;
    }
    .ball_item{
        width: 120px;
    }
    .page_02 #ball_02 {
        left: -8%;
        top: 26%;
    }
    .page_02 #ball_01 {
        top: 8%;
        left: 74%;
    }
    .page_02 #ball_03 {
        left: 37%;
    }
    .page_03 .dream_box:nth-child(2n+1){
        flex-direction: column-reverse;
    }
    .page_03 .dream_box:nth-child(2n){
        flex-direction: column;
    }
}
@media (max-width:650px){
    .page_02 .orbit{
        width: 550px;
        height: 550px;
    }
    .page_02 #ball_02 {
        left: -5%;
        top: 27%;
    }
    .page_02 #ball_01 {
        left: 71%;
    }

}
@media (max-width:570px){
    .page_01 .office_pic img{
        width: 90%;
    }
    .page_01 .about_intro{
        margin: auto 50px;
        h1{
            font-size: 21px;
            margin-bottom: 16px;
        }
        p{
            font-weight: 400;
        }
    }
    .page_02 .page02_circle .inner_circle {
        background-size: contain;
        width: 175px;
        height: 175px;
    }
    .page_02 .page02_circle .out_circle {
        background-size: contain;
        width: 250px;
        height: 250px;
    }
    .page_02 .orbit{
        width: 400px;
        height: 400px;
    }
    .page_02 #ball_02 {
        left: 10%;
        top: 33%;
    }
    .page_02 #ball_01 {
        top: 20%;
        left: 65%;
    }
    .page_02 #ball_03 {
        left: 39%;
        top: 73%;
    }
    .ball_item{
        width: 90px;
    }
}
@media (max-width:420px){
    .page_02 .page02_circle .inner_circle {
        width: 100px;
        height: 100px;
    }
    .page_02 .page02_circle .out_circle {
        width: 175px;
        height: 175px;
    }
    .page_02 .orbit{
        width: 350px;
        height: 350px;
    }
    .page_02 #ball_02 {
        left: 14%;
        top: 34%;
    }
    .page_02 #ball_01 {
        top: 24%;
        left: 61%;
    }
    .page_02 #ball_03 {
        left: 40%;
        top: 69%;
    }
}
@media (max-width:400px){
    .page_01 .about_intro{
        margin: auto 30px;
    }
    .page_02 .orbit{
        width: 300px;
        height: 300px;
    }
    .page_02 #ball_02 {
        left: 20%;
        top: 37%;
    }
    .page_02 #ball_01 {
        top: 28%;
    }
    .page_02 #ball_03 {
        left: 42%;
        top: 67%;
    }
    .ball_item{
        width: 70px;
    }
    .page_03{
        .dream_picture img{
            width: 90%;
        }
        .dream_text{
            padding:0 20px;
        }
        .dream_text h2{
            font-size: 40px;
        }
        .dream_text span{
            font-size: 16px;
        }
        .dream_text p{
            font-size: 15px;
        }
    }
}
@media (max-width:320px){
    .page_03{
        .dream_picture img{
            width: 90%;
        }
        .dream_text{
            padding:0 20px;
        }
        .dream_text span{
            font-size: 15px;
        }
    }
}