@import 'mixins/mix';
@import 'base/var';
@import 'base/reset';
@import 'base/global';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/loading';
@import 'ask';

body,html{
    background: white !important; 
}
.contain{
    @include flex(column,center,center);
    margin: 120px auto 50px auto;
}
.page{
    h1{
        font-size: 28px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0.15em;
    }
    padding: 60px;
    width: 100%;
    max-width: 931px;
    background-color: white;
    box-shadow: 0px 0px 11px 3px rgba(33,33,33,.1); 
    z-index: 2;
    .time{
        @include flex("",start,center);
        margin: 15px 10px 10px 10px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.15em;
        img{
            margin-right: 5px;
            width: 20px;
        }
    }
}
.page_pic{
    margin: auto;
    width: 100%;
    max-width: 700px;
}
.page_context{
    margin: 55px 20px;
    letter-spacing: 0.15em;
    p{
        margin-bottom: 1em;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px; 
    }
    h3{
        margin: 20px 0;
        color:$green;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
    }
}
.page_share{
    @include flex("",start,center);
    span{
        margin: 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.15em;
    }
    a{
        margin-right: 20px;
        display: inline-block;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url('../img/link/facebook/normal.svg');
        &:hover{
            background-image: url('../img/link/facebook/hover.svg');
        }
    }
    a:nth-child(3){
        background-image: url('../img/link/line/normal.svg');
        &:hover{
            background-image: url('../img/link/line/hover.svg');
        }
    }
}
.arrow_box{
    @include flex("",center,center);
    margin: 50px auto 70px auto;
    .prev,.next{
        position: relative;
        cursor: $click;
        color: $gray2;
        &:hover{
            span{
                color: $green;
            }
            
        }
        svg{
            stroke-width:2;
        }
        svg.shadow{
            opacity: 0;
            stroke-width:3;
            position: absolute;
            left:0;
            &:hover{
                opacity: 1;
                stroke-dasharray: 2000;
                stroke-dashoffset: 2000;
                animation: arrow_hover 1.5s linear;
                animation-iteration-count: infinite;
            }
        }
        p{
            margin-top: 20px;
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
            letter-spacing: 0.15em;
        }
        span{
            position: absolute;
            right: 0;
            top: 0;
            font-size: 18px;
            font-weight: 500;
            line-height: 21px;
        }
    }
    .next{
        left: 38%;
        span{
            left: 0;
        }
    }
    .prev{
        right: 38%;
    }
}
.sp,.tb{
    display: none;
}
@keyframes arrow_hover {
	100% {
		stroke-dashoffset:0;
	}
}
@media (max-width:$desktop){
    .tb{
        display: block;
    }
    .pc{
        display: none;
    }
    .top {
        height: 360px;
    }
    .contain{
        width: 80%;
    }
    .page {
        padding: 58px 45px;
        max-width: none;
        svg{
            width: 100%;
            margin: auto;
        }
        h1{
            font-size: 21px;
        }
        .time{
            margin: 15px 10px 10px 20px;
        }
    }

    .arrow_box{
        width: 50%;
        .prev,.next{
            span{
            font-size: 14px;
            }
            p{
                font-size: 16px;
                position: absolute;
            }  
        }
    }
}
@media (max-width:760px){
    .arrow_box{
        width: 45%;
    }

}
@media (max-width:700px){
    .arrow_box{
        width: 40%;
    }
}
@media (max-width:650px){
    .arrow_box{
        width: 20%;
    }
}
@media (max-width:520px){
.sp{
    display: block;
}
.tb{
    display: none;
}
.page {
    padding: 35px;
}
.arrow_box{
    width: 85%;
    p{
        display: none;
    }
    .prev{
        span{
            right: 0px;
            top: 20px;
        }
    }
    .next{
        span{
            left: 0px;
            top: 20px;
        }
    }
}
}
@media (max-width:400px){
    .arrow_box{
        width: 70%;}

}
@media (max-width:$mobile){
    .top_header{
        height: 52px;
    }
    .top{
        height: 244px;
    }
    .page {
        padding: 35px 25px;
        h1{
            font-size: 18px;
        }
        .time{
            margin: 10px 0;
        }
        .page_item:nth-child(1){
            margin-right: 0;
        }
    }
    .page_detail{
        .detail_wrap{
            flex-direction: column;
        }
    }
    .page_context{
        margin:60px 0;
        p,h3{
            font-size: 15px;
        }
    }
    .page_share span{
        margin: 0 20px 0 0;
    }
    .arrow_box{
        width: 60%;
    }
}
@media (max-width:280px){
    .page{
        h1{
            text-align: center;
        }
    }
    .contain{
        width: 70%;
    }
    .arrow_box{
        width: 50%;
    }
}