@import 'mixins/mix';
@import 'base/var';
@import 'base/reset';
@import 'base/global';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/loading';

body{
    background: white;
}
.top{
    width: 100vw;
    height: 320px;
    background-image: linear-gradient(180deg, rgba(255, 235, 193, 0.4) 0%, rgba(193, 237, 226, 0.4) 87.5%),url('../img/new/news_item_ex.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.page{
    h1{
        font-size: 28px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0.15em;
    }
    margin: 30px auto;
    margin-top: -120px;
    padding: 60px;
    width: 100%;
    max-width: 931px;
    background-color: white;
    box-shadow: 0px 0px 11px 3px rgba(33,33,33,.1); 
    z-index: 2;
    .time{
        @include flex("",start,center);
        margin: 15px 10px 10px 10px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.15em;
        img{
            margin-right: 5px;
            width: 20px;
        }
    }
}
.page_detail{
    padding: 50px;
    color: $gray2;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.15em;
    .detail_wrap{
        @include flex("",center,center);
    }
    .page_item{
        margin: 0 40px;
        width: 100%;
        max-width: 292px;
        border-bottom: 1px solid rgba(79, 79, 79, 1);
        p{
            margin: 16px;
        }
        p:nth-child(2){
            margin-bottom:10px;
            font-weight: 700;
        }
    }
}
.page_pic{
    margin: auto;
    width: 100%;
    max-width: 700px;
}
.page_context{
    margin: 55px 20px;
    letter-spacing: 0.15em;
    p{
        margin-bottom: 1em;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px; 
    }
    h3{
        margin: 20px 0;
        color:$green;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
    }
}
.page_share{
    @include flex("",start,center);
    span{
        margin: 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.15em;
    }
    a{
        margin-right: 20px;
        display: inline-block;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url('../img/link/facebook/normal.svg');
        &:hover{
            background-image: url('../img/link/facebook/hover.svg');
        }
    }
    a:nth-child(3){
        background-image: url('../img/link/line/normal.svg');
        &:hover{
            background-image: url('../img/link/line/hover.svg');
        }
    }
}