

@mixin flex($side,$justify,$align){
    display: flex; 
    flex-direction:$side;     
    justify-content: $justify; 
    align-items: $align;
}

@mixin btn($h,$w){
        display: block;
        text-align: center;
        overflow: hidden;
        position: relative;
        padding: $h $w;
        margin: 0 auto;
}

@mixin learnmore($h,$w){
    padding: $h $w;
    border:1px solid $green;
    color: $green;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-align: center;
}