

@mixin flex($side,$justify,$align){
    display: flex; 
    flex-direction:$side;     
    justify-content: $justify; 
    align-items: $align;
}

@mixin btn($h,$w){
        display: block;
        text-align: center;
        overflow: hidden;
        position: relative;
        padding: $h $w;
        margin: 0 auto;
}

@mixin learnmore($h,$w){
    padding: $h $w;
    border:1px solid $green;
    color: $green;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-align: center;
    &:hover{
        color: white;
        background-color: $green;
    }
}

@mixin submit($h,$w){
    padding: $h $w;
    border:1px solid rgba(136, 96, 36, 1);
    background-color: rgba(184, 146, 90, 0.4);
    color: rgba(136, 96, 36, 1);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-align: center;
    &:hover{
        color: white;
        background-color: rgba(136, 96, 36, 1);
    }
    &:disabled{
        border:1px solid #AEAEAE;
        background-color: #E0E0E0;
        color: #AEAEAE;
    }
}