<div class="nav-pc">
    <div class="nav_item">
        <div class="nav_logo">
            <a href="index.html"><img src="img/logo.svg" alt="logo"></a>
        </div>
        <ul>
            <a href="about.html"><li>關於博群</li></a>
            <a href="member.html"><li>夥伴介紹</li></a>
            <a href="new.html"><li>最新消息</li></a>
            <a href="knowledge.html"><li>法律小知識</li></a>
        </ul>
    </div>
    <div class="nav_ask">
        <a href="ask.html">我要詢問</a>
    </div>
</div>
<div class="nav-sp">
    <div class="nav_logo">
        <a href="index.html"><img src="img/logo.svg" alt="logo"></a>
    </div>
    <button class="burger"></button>
</div>