/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button, input, a {
  text-decoration: none;
  color: #4f4f4f;
  cursor: url("../img/mouse/click.svg"), default;
}

html {
  background: url(../img/material.png);
  cursor: url("../img/mouse/normal.svg"), default;
  font-style: normal;
}

body {
  width: 100%;
  background: url(../img/material.png);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
  display: block;
}

header {
  width: 100%;
  position: fixed;
  z-index: 99;
}

.nav-pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  height: 70px;
}

.nav-pc a {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.15em;
}

.nav_logo {
  padding: 9px 0 11px 110px;
  width: 120px;
}

.nav_item {
  background-color: rgba(212, 232, 237, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_item li {
  margin: 0 50px;
}

.nav_item a {
  color: #68543b;
}

.nav_ask {
  padding: 26px 46px;
  white-space: nowrap;
  background-color: #379595;
}

.nav_ask a {
  color: white;
}

.nav-sp {
  position: relative;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 60px;
  display: none;
}

.nav-sp a {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.15em;
}

.nav-sp .nav_logo {
  padding: 9px;
  margin: auto;
}

.burger {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  background-image: url("../img/hamburger.svg");
  background-color: #379595;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.burger.active {
  background-image: url("../img/close.svg");
}

.nav-sp-bar {
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  background: rgba(55, 149, 149, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 4;
}

.bar_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15%;
}

.bar_wrap li {
  margin-bottom: 90px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.15em;
  text-align: center;
  color: white;
}

.nav_link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_link li {
  margin: 30px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: url("../img/mouse/click.svg"), default;
}

.nav_link li:nth-child(1) {
  background-image: url("../img/link/facebook/sp.svg");
}

.nav_link li:nth-child(2) {
  background-image: url("../img/link/phone/sp.svg");
}

.nav_link li:nth-child(3) {
  background-image: url("../img/link/line/sp.svg");
}

.nav_link li:nth-child(4) {
  background-image: url("../img/link/mail/sp.svg");
}

@media (max-width: 1200px) {
  .nav-pc {
    display: none;
  }
  .nav-sp {
    display: block;
  }
}

@media (max-width: 500px) {
  .nav-sp {
    height: 50px;
  }
  .burger {
    width: 50px;
    height: 50px;
  }
  .nav-sp-bar {
    top: 50px;
  }
}

footer {
  width: 100vw;
  height: 300px;
  background-image: url("../img/footer_pc.png");
  background-color: white;
  background-repeat: repeat-x;
  background-position: bottom;
}

.footer_wrap {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0.15em;
}

.footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 100px;
}

.footer_info::after {
  position: absolute;
  bottom: 0;
  content: "";
  border-bottom: 1px solid white;
  width: 95%;
}

.footer_info_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
}

.footer_info_item img {
  width: 30px;
}

.footer_info_item span {
  margin-left: 10px;
}

.footer_copyright {
  margin-top: 30px;
  font-weight: 200;
}

@media (max-width: 880px) {
  .footer_info_item {
    margin: 20px;
  }
}

@media (max-width: 765px) {
  footer {
    height: 340px;
    background-image: url("../img/footer_tablet.png");
    background-repeat: contain;
  }
  .footer_wrap {
    padding: 30px 80px;
  }
  .footer_info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer_info_item {
    margin: 10px;
  }
  .footer_info_item:nth-child(2) {
    margin-left: 15px;
  }
  .footer_info::after {
    width: 100%;
    bottom: -20px;
    margin: auto;
  }
  .footer_copyright {
    margin-top: 50px;
  }
}

@media (max-width: 741px) {
  .footer_info {
    margin-top: 60px;
  }
  .footer_info_item:nth-child(2) {
    margin-left: 10px;
  }
  .footer_copyright {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .footer_wrap {
    font-size: 14px;
    padding: 30px 35px;
  }
  .footer_copyright {
    margin-top: 30px;
  }
  .footer_info::after {
    bottom: -10px;
  }
  .footer_info_item:nth-child(2) {
    margin-left: 7px;
  }
  .footer_info_item {
    margin: 7px;
  }
  .footer_info {
    margin-top: 75px;
  }
}

@media (max-width: 320px) {
  footer {
    background-image: url("../img/footer_sp.png");
  }
  .footer_info {
    margin-top: 65px;
  }
}

.loadpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url(../img/material.png);
  background-color: #379595;
  z-index: 1000;
}

#loading, #loaded {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 20%;
}

#loaded {
  display: none;
}

#progress {
  position: relative;
  bottom: -15%;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.2em;
  color: white;
}

@media (max-width: 1200px) {
  #progress {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (max-width: 500px) {
  #progress {
    font-size: 32px;
  }
  #loading, #loaded {
    width: 600px;
    height: 600px;
    top: 25%;
  }
}

.page_01, .page_02 {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.page_01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: white;
}

.page_01 .about_intro {
  margin: auto 100px;
  letter-spacing: 0.15em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page_01 .about_intro h1 {
  margin-bottom: 23px;
  color: #379595;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
}

.page_01 .about_intro h1 span {
  margin-left: 13px;
  color: #828282;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.page_01 .about_intro p {
  margin-bottom: 1em;
  color: #4f4f4f;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.page_01 .about_intro button {
  margin-top: 20px;
  padding: 12px 50px;
  border: 1px solid #379595;
  color: #379595;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-align: center;
}

.page_01 img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
}

.page_01 .office_pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.page_01 .office_pic img {
  position: static;
  width: 100%;
  max-width: 654px;
}

.page_02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-image: url("../img/about/background_02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page_02 .animation_01 {
  position: absolute;
  left: 30px;
  top: 150px;
  font-size: 68px;
  font-weight: 900;
  line-height: 80px;
  letter-spacing: 0em;
  color: #379595;
}

.page_02 .animation_02 {
  position: absolute;
  right: 30px;
  bottom: 150px;
  font-size: 80px;
  font-weight: 900;
  line-height: 94px;
  letter-spacing: 0em;
  color: transparent;
  -webkit-text-stroke: 1px rgba(130, 130, 130, 0.5);
}

.page_02 .page02_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 401.67px;
  height: 401.67px;
}

.page_02 .page02_circle .inner_circle {
  margin: auto;
  z-index: 2;
  width: 311.05px;
  height: 311.05px;
  background-image: url("../img/about/ball_up.png");
}

.page_02 .page02_circle .out_circle {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url("../img/about/ball_down.png");
  background-position: center;
}

.page_02 .page02_circle .ball_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.page_02 .page02_circle .ball_item img {
  width: 56px;
}

.page_02 .page02_circle .ball_item span {
  color: #4f4f4f;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.15em;
}

.page_02 .page02_circle .ball_item:nth-child(1) {
  right: 100px;
  top: -70px;
}

.page_02 .page02_circle .ball_item:nth-child(2) {
  right: 350px;
  top: 137px;
}

.page_02 .page02_circle .ball_item:nth-child(3) {
  right: -97px;
  top: 170px;
}

.page_03 {
  padding: 30px 0;
  width: 100vw;
  height: 200vh;
  overflow-x: hidden;
  background: #84d6db;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 0);
  background-size: 150px 150px;
}

.page_03 .dream_picture {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page_03 .dream_picture img {
  width: 100%;
  max-width: 345px;
  margin: auto;
}

.page_03 .dream_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 120px 0;
}

.page_03 .dream_text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto;
  padding: 20px 50px;
}

.page_03 .dream_text h2 {
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  font-size: 80px;
  font-weight: 500;
  line-height: 94px;
  letter-spacing: 0em;
}

.page_03 .dream_text span {
  color: white;
  -webkit-text-stroke: 0px #fff;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.1em;
}

.page_03 .dream_text p {
  margin-top: 33px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.1em;
}

.page_04 {
  background-color: white;
  width: 100vw;
  height: 90vh;
  overflow-x: hidden;
}

.page_04 ul {
  margin: 100px auto;
  text-align: center;
  color: #4f4f4f;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.1em;
}

.page_04 .pic_carousel img {
  width: 100%;
  max-width: 415px;
  height: 223px;
}

.page_04 .pic_carousel .slick-slide {
  margin: 0 10px;
}
/*# sourceMappingURL=about.css.map */