/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button, input, a {
  text-decoration: none;
  color: #4f4f4f;
  cursor: url("../img/mouse/click.svg"), default;
}

html {
  background: url(../img/material.png);
  cursor: url("../img/mouse/normal.svg"), default;
  font-style: normal;
}

body {
  width: 100%;
  background: url(../img/material.png);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
  display: block;
}

header {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
}

.nav-pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  height: 60px;
}

.nav-pc a {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.15em;
}

.nav_logo {
  padding: 9px 0 11px 110px;
  width: 120px;
}

.nav_item {
  background-color: rgba(212, 232, 237, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 200px;
}

.nav_item ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  color: #68543b;
  position: relative;
}

.nav_item ul a:hover {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.nav_item ul a:hover::before {
  -webkit-animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
          animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
  content: "";
  width: 2px;
  height: 170%;
  background: #8BCDC1;
  position: absolute;
  left: 49%;
  top: -150%;
}

.nav_item li {
  margin: 0 50px;
}

@-webkit-keyframes sdl {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  30% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  70% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

@keyframes sdl {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  30% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  70% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

.nav_ask {
  position: absolute;
  right: 0;
  padding: 26px 46px;
  white-space: nowrap;
  background-color: #379595;
}

.nav_ask a {
  color: white;
}

.nav-sp {
  background-color: rgba(212, 232, 237, 0.2);
  position: relative;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 60px;
  display: none;
}

.nav-sp a {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.15em;
}

.nav-sp .nav_logo {
  padding: 9px;
  margin: auto;
}

.burger {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  background-image: url("../img/hamburger.svg");
  background-color: #379595;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

body.active {
  overflow: hidden;
}

body.active .burger {
  background-image: url("../img/close.svg");
}

.nav-sp-bar {
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  background: rgba(55, 149, 149, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 4;
}

.bar_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15%;
}

.bar_wrap ul {
  width: 80%;
}

.bar_wrap li {
  margin-bottom: 90px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.15em;
  text-align: center;
  color: white;
}

.bar_wrap li.sb_bar_ask {
  border: 1px solid white;
  padding: 20px;
}

.nav_link {
  margin-top: -60px;
}

.nav_link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav_link li {
  margin: 30px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: url("../img/mouse/click.svg"), default;
}

.nav_link li:nth-child(1) {
  background-image: url("../img/link/facebook/sp.svg");
}

.nav_link li:nth-child(2) {
  background-image: url("../img/link/phone/sp.svg");
}

.nav_link li:nth-child(3) {
  background-image: url("../img/link/line/sp.svg");
}

.nav_link li:nth-child(4) {
  background-image: url("../img/link/mail/sp.svg");
}

@media (max-width: 1200px) {
  .nav-pc {
    display: none;
  }
  .nav-sp {
    display: block;
  }
}

@media (max-width: 500px) {
  .nav-sp {
    height: 50px;
  }
  .burger {
    width: 50px;
    height: 50px;
  }
  .nav-sp-bar {
    top: 50px;
  }
}

footer {
  width: 100vw;
  height: 320px;
  background-image: url("../img/footer_pc.png");
  background-color: white;
  background-repeat: repeat-x;
  background-position: bottom;
}

.footer_wrap {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0.15em;
}

.footer_wrap hr {
  width: 90%;
}

.item_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 100px;
}

.footer_info_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px;
  word-break: break-all;
  white-space: pre-wrap;
}

.footer_info_item img {
  width: 30px;
}

.footer_info_item span {
  margin-left: 10px;
}

.footer_copyright {
  text-align: center;
  margin-top: 20px;
  font-weight: 200;
}

.item_left, .item_right {
  display: none;
}

@media (max-width: 1100px) {
  .footer_info_item {
    margin: 20px;
  }
}

@media (max-width: 1000px) {
  .footer_info_item {
    margin: 15px;
  }
}

@media (max-width: 765px) {
  .item_left, .item_right {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .item_box {
    display: none;
  }
  footer {
    height: 340px;
    background-image: url("../img/footer_tablet.png");
    background-repeat: contain;
  }
  .item_tb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: "";
            flex-direction: "";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_wrap {
    padding: 30px;
    padding-top: 140px;
  }
  .footer_info_item {
    margin: 10px;
  }
}

@media (max-width: 600px) {
  .footer_wrap {
    padding-top: 120px;
  }
}

@media (max-width: 500px) {
  .footer_wrap {
    font-size: 14px;
  }
  .footer_info_item {
    margin: 7px;
  }
}

@media (max-width: 400px) {
  .item_tb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer_info_item {
    margin: 5px;
  }
  .footer_wrap {
    padding: 0 30px;
    padding-top: 90px;
  }
  .footer_copyright {
    margin-top: 10px;
  }
}

@media (max-width: 320px) {
  footer {
    background-image: url("../img/footer_sp.png");
    height: 400px;
  }
  .footer_wrap {
    padding: 30px;
    padding-top: 90px;
  }
  .footer_info_item {
    margin: 10px;
  }
  .footer_copyright {
    margin-top: 15px;
  }
}

@media (max-width: 280px) {
  .footer_wrap {
    padding: 20px;
    padding-top: 90px;
  }
}

.loadpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url(../img/material.png);
  background-color: #379595;
  z-index: 1000;
}

#loading, #loaded {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 20%;
}

#loaded {
  display: none;
}

#progress {
  position: relative;
  bottom: -15%;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.2em;
  color: white;
}

@media (max-width: 1200px) {
  #progress {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (max-width: 500px) {
  #progress {
    font-size: 32px;
  }
  #loading, #loaded {
    width: 600px;
    height: 600px;
    top: 25%;
  }
}

html {
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.top_header {
  width: 100vw;
  position: absolute;
  top: 0;
  height: 60px;
  background-color: #FFEBC1;
}

#background_color {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  background: #BE9E6D66;
  z-index: 4;
}

#pixie {
  z-index: 0;
}

.page_01 {
  position: relative;
  height: 100vh;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 1px, transparent 0), url("../img/index/page01_bg.png");
  background-size: 150px 150px,cover;
}

.page_01 .page_01_title {
  position: absolute;
  left: 25%;
  top: 25%;
  width: 300px;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.page_01 .page_01_title p {
  color: #886024;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.1em;
  margin: 20px 0;
}

.page_01 .page_01_title p:nth-child(1) {
  margin-left: -50px;
}

.page_01 .page_01_title span {
  color: #b8925a;
  font-size: 18px;
  line-height: 21px;
}

.map {
  position: absolute;
  top: 20%;
  right: 6%;
  width: 100%;
}

.map .body_map {
  position: absolute;
  right: 15%;
  background-image: url("../img/index/body.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  max-width: 600px;
  height: 100vh;
}

.map .up_board_off {
  position: absolute;
  right: 30%;
  top: -3%;
  width: 136px;
}

.map .down_board_off {
  position: absolute;
  right: 14%;
  top: 23%;
  width: 100px;
}

.map .book_off {
  position: absolute;
  right: 36%;
  top: 35%;
  width: 125px;
}

.map .stairs {
  position: absolute;
  right: 80%;
  top: 300px;
  width: 100%;
  max-width: 96px;
  z-index: 1;
}

.map .pig_map_off {
  position: absolute;
  right: 90%;
  top: 267px;
  width: 100%;
  max-width: 294px;
}

.map_box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 700px;
}

.map_box .loader-disc-bouncer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 3;
}

.map_box .loader-disc-bouncer:before, .map_box .loader-disc-bouncer:after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.map_box .loader-disc-bouncer:before {
  width: 30px;
  height: 30px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.5);
  -webkit-animation: bounce-disks 1s infinite alternate ease;
          animation: bounce-disks 1s infinite alternate ease;
}

.map_box .loader-disc-bouncer:after {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.7);
  z-index: 2;
  -webkit-animation: bounce-disks2 1s .5s infinite alternate ease;
          animation: bounce-disks2 1s .5s infinite alternate ease;
}

.map_box .new_ball {
  left: 29%;
  top: -60px;
}

.map_box .mem_ball {
  left: 56%;
  top: -80px;
}

.map_box .about_ball {
  left: 71%;
  top: 155px;
}

.map_box .know_ball {
  left: 58%;
  top: 280px;
}

.map_box .ask_ball {
  left: -30%;
  top: 220px;
}

@-webkit-keyframes bounce-disks {
  to {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes bounce-disks {
  to {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@-webkit-keyframes bounce-disks2 {
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes bounce-disks2 {
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

.scroll_box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.index_link {
  position: absolute;
  left: 90px;
  bottom: 20px;
  z-index: 3;
}

.index_link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index_link li {
  display: inline-block;
  position: relative;
  margin: 15px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: url("../img/mouse/click.svg"), default;
}

.index_link li:nth-child(1) {
  background-image: url("../img/link/facebook/normal.svg");
}

.index_link li:nth-child(1):hover {
  background-image: url("../img/link/facebook/hover.svg");
}

.index_link li:nth-child(2) {
  background-image: url("../img/link/phone/normal.svg");
}

.index_link li:nth-child(2):hover {
  background-image: url("../img/link/phone/hover.svg");
}

.index_link li:nth-child(3) {
  background-image: url("../img/link/line/normal.svg");
}

.index_link li:nth-child(3):hover {
  background-image: url("../img/link/line/hover.svg");
}

.index_link li:nth-child(4) {
  background-image: url("../img/link/mail/normal.svg");
}

.index_link li:nth-child(4):hover {
  background-image: url("../img/link/mail/hover.svg");
}

.poptext {
  display: none;
  width: 160px;
  background: #FFFFFF80;
  color: #828282;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.poptext:hover span {
  color: #379595;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.index_scrolldown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #379595;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-align: center;
}

.index_scrolldown svg {
  margin-top: 5px;
}

.index_scrolldown svg.move_line {
  position: absolute;
  top: 20px;
  -webkit-animation: move_line 1.3s cubic-bezier(1, 0, 1, 1) infinite;
          animation: move_line 1.3s cubic-bezier(1, 0, 1, 1) infinite;
}

@-webkit-keyframes move_line {
  to {
    top: 70px;
  }
}

@keyframes move_line {
  to {
    top: 70px;
  }
}
/*# sourceMappingURL=ask.css.map */