/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button, input, a {
  text-decoration: none;
  color: #4f4f4f;
  cursor: url("../img/mouse/click.svg"), default;
}

html {
  background: url(../img/material.png);
  cursor: url("../img/mouse/normal.svg"), default;
  font-style: normal;
}

body {
  width: 100%;
  background: url(../img/material.png);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
  display: block;
}

header {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
}

.nav-pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  height: 60px;
}

.nav-pc a {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.15em;
}

.nav_logo {
  padding: 9px 0 11px 110px;
  width: 120px;
}

.nav_item {
  background-color: rgba(212, 232, 237, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 200px;
}

.nav_item ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  color: #68543b;
  position: relative;
}

.nav_item ul a:hover {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.nav_item ul a:hover::before {
  -webkit-animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
          animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
  content: "";
  width: 2px;
  height: 170%;
  background: #8BCDC1;
  position: absolute;
  left: 49%;
  top: -150%;
}

.nav_item li {
  margin: 0 50px;
}

@-webkit-keyframes sdl {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  30% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  70% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

@keyframes sdl {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  30% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  70% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

.nav_ask {
  position: absolute;
  right: 0;
  padding: 26px 46px;
  white-space: nowrap;
  background-color: #379595;
}

.nav_ask a {
  color: white;
}

.nav-sp {
  background-color: rgba(212, 232, 237, 0.2);
  position: relative;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 60px;
  display: none;
}

.nav-sp a {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.15em;
}

.nav-sp .nav_logo {
  padding: 9px;
  margin: auto;
}

.burger {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  background-image: url("../img/hamburger.svg");
  background-color: #379595;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

body.active {
  overflow: hidden;
}

body.active .burger {
  background-image: url("../img/close.svg");
}

.nav-sp-bar {
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  background: rgba(55, 149, 149, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 4;
}

.bar_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15%;
}

.bar_wrap ul {
  width: 80%;
}

.bar_wrap li {
  margin-bottom: 90px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.15em;
  text-align: center;
  color: white;
}

.bar_wrap li.sb_bar_ask {
  border: 1px solid white;
  padding: 20px;
}

.nav_link {
  margin-top: -60px;
}

.nav_link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav_link li {
  margin: 30px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: url("../img/mouse/click.svg"), default;
}

.nav_link li:nth-child(1) {
  background-image: url("../img/link/facebook/sp.svg");
}

.nav_link li:nth-child(2) {
  background-image: url("../img/link/phone/sp.svg");
}

.nav_link li:nth-child(3) {
  background-image: url("../img/link/line/sp.svg");
}

.nav_link li:nth-child(4) {
  background-image: url("../img/link/mail/sp.svg");
}

@media (max-width: 1200px) {
  .nav-pc {
    display: none;
  }
  .nav-sp {
    display: block;
  }
}

@media (max-width: 500px) {
  .nav-sp {
    height: 50px;
  }
  .burger {
    width: 50px;
    height: 50px;
  }
  .nav-sp-bar {
    top: 50px;
  }
}

footer {
  width: 100vw;
  height: 320px;
  background-image: url("../img/footer_pc.png");
  background-color: white;
  background-repeat: repeat-x;
  background-position: bottom;
}

.footer_wrap {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0.15em;
}

.footer_wrap hr {
  width: 90%;
}

.item_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 100px;
}

.footer_info_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px;
  word-break: break-all;
  white-space: pre-wrap;
}

.footer_info_item img {
  width: 30px;
}

.footer_info_item span {
  margin-left: 10px;
}

.footer_copyright {
  text-align: center;
  margin-top: 20px;
  font-weight: 200;
}

.item_left, .item_right {
  display: none;
}

@media (max-width: 1100px) {
  .footer_info_item {
    margin: 20px;
  }
}

@media (max-width: 1000px) {
  .footer_info_item {
    margin: 15px;
  }
}

@media (max-width: 765px) {
  .item_left, .item_right {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .item_box {
    display: none;
  }
  footer {
    height: 340px;
    background-image: url("../img/footer_tablet.png");
    background-repeat: contain;
  }
  .item_tb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: "";
            flex-direction: "";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_wrap {
    padding: 30px;
    padding-top: 140px;
  }
  .footer_info_item {
    margin: 10px;
  }
}

@media (max-width: 600px) {
  .footer_wrap {
    padding-top: 120px;
  }
}

@media (max-width: 500px) {
  .footer_wrap {
    font-size: 14px;
  }
  .footer_info_item {
    margin: 7px;
  }
}

@media (max-width: 400px) {
  .item_tb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer_info_item {
    margin: 5px;
  }
  .footer_wrap {
    padding: 0 30px;
    padding-top: 90px;
  }
  .footer_copyright {
    margin-top: 10px;
  }
}

@media (max-width: 320px) {
  footer {
    background-image: url("../img/footer_sp.png");
    height: 400px;
  }
  .footer_wrap {
    padding: 30px;
    padding-top: 90px;
  }
  .footer_info_item {
    margin: 10px;
  }
  .footer_copyright {
    margin-top: 15px;
  }
}

@media (max-width: 280px) {
  .footer_wrap {
    padding: 20px;
    padding-top: 90px;
  }
}

.loadpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url(../img/material.png);
  background-color: #379595;
  z-index: 1000;
}

#loading, #loaded {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 20%;
}

#loaded {
  display: none;
}

#progress {
  position: relative;
  bottom: -15%;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.2em;
  color: white;
}

@media (max-width: 1200px) {
  #progress {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (max-width: 500px) {
  #progress {
    font-size: 32px;
  }
  #loading, #loaded {
    width: 600px;
    height: 600px;
    top: 25%;
  }
}

section {
  width: 100vw;
  overflow: hidden;
}

.top_header {
  width: 100vw;
  position: absolute;
  top: 0;
  height: 60px;
  background-color: #FFEBC1;
}

#container {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

#pixie {
  z-index: 0;
}

.page_01 {
  position: relative;
  height: 100vh;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 1px, transparent 0), url("../img/index/page01_bg.png");
  background-size: 150px 150px,cover;
}

.page_01 .page_01_title {
  position: absolute;
  left: 15%;
  top: 25%;
  width: 300px;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.page_01 .page_01_title p {
  color: #886024;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.1em;
  margin: 20px 0;
}

.page_01 .page_01_title p:nth-child(1) {
  margin-left: -50px;
}

.page_01 .page_01_title span {
  color: #b8925a;
  font-size: 18px;
  line-height: 21px;
}

.scroll_box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.index_link {
  position: absolute;
  left: 90px;
  bottom: 20px;
  z-index: 3;
}

.index_link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index_link li {
  margin: 15px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: url("../img/mouse/click.svg"), default;
}

.index_link li:nth-child(1) {
  background-image: url("../img/link/facebook/normal.svg");
}

.index_link li:nth-child(1):hover {
  background-image: url("../img/link/facebook/hover.svg");
}

.index_link li:nth-child(2) {
  background-image: url("../img/link/phone/normal.svg");
}

.index_link li:nth-child(2):hover {
  background-image: url("../img/link/phone/hover.svg");
}

.index_link li:nth-child(3) {
  background-image: url("../img/link/line/normal.svg");
}

.index_link li:nth-child(3):hover {
  background-image: url("../img/link/line/hover.svg");
}

.index_link li:nth-child(4) {
  background-image: url("../img/link/mail/normal.svg");
}

.index_link li:nth-child(4):hover {
  background-image: url("../img/link/mail/hover.svg");
}

.top_cloud {
  position: absolute;
}

.layer {
  position: initial !important;
}

.top_cloud_01 {
  width: 499px;
  bottom: 0%;
  right: 10%;
  z-index: 2;
}

.top_cloud_02 {
  width: 376px;
  -webkit-transform: translateY(-250px);
          transform: translateY(-250px);
  right: 85%;
  z-index: 0;
}

.top_cloud_03 {
  width: 516px;
  -webkit-transform: translateY(-230px);
          transform: translateY(-230px);
  right: 0%;
  z-index: 1;
}

.top_cloud_04 {
  width: 423px;
  -webkit-transform: translateY(-160px);
          transform: translateY(-160px);
  right: -15%;
  z-index: 2;
}

.top_cloud_05 {
  width: 670px;
  -webkit-transform: translateY(-210px);
          transform: translateY(-210px);
  right: 70%;
  z-index: 1;
}

.top_cloud_06 {
  width: 515px;
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  right: 52%;
  z-index: 0;
}

.page_02 {
  background: -webkit-gradient(linear, left top, left bottom, from(#C2EDE2), to(#BEE8F5));
  background: linear-gradient(180deg, #C2EDE2 0%, #BEE8F5 100%);
}

.page_02 h2 {
  margin-top: 130px;
  color: #379595;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.2em;
  text-align: center;
}

.index_scrolldown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #379595;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-align: center;
}

.index_scrolldown svg {
  margin-top: 5px;
}

.index_scrolldown svg.move_line {
  position: absolute;
  top: 20px;
  -webkit-animation: move_line 1.3s cubic-bezier(1, 0, 1, 1) infinite;
          animation: move_line 1.3s cubic-bezier(1, 0, 1, 1) infinite;
}

@-webkit-keyframes move_line {
  to {
    top: 70px;
  }
}

@keyframes move_line {
  to {
    top: 70px;
  }
}

.page02_01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.page02_01 .ask_wrap {
  position: relative;
  width: 100vw;
  height: 400px;
  margin: 100px 0;
}

.page02_01 .ask_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 13px 25px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  border-radius: 14px;
  color: #4f4f4f;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15em;
  white-space: nowrap;
}

.page02_01 .ask_item img {
  display: inline;
  margin-right: 14px;
  width: 30px;
}

.page02_01 .ask_item:nth-child(1) {
  left: 0;
  bottom: 350px;
}

.page02_01 .ask_item:nth-child(2) {
  left: -5%;
  bottom: 150px;
}

.page02_01 .ask_item:nth-child(3) {
  left: 16%;
  bottom: 250px;
}

.page02_01 .ask_item:nth-child(4) {
  left: 18%;
  bottom: 30px;
}

.page02_01 .ask_item:nth-child(5) {
  left: 30%;
  bottom: 160px;
}

.page02_01 .ask_item:nth-child(6) {
  left: 35%;
  bottom: 320px;
}

.page02_01 .ask_item:nth-child(7) {
  left: 45%;
  bottom: 50px;
}

.page02_01 .ask_item:nth-child(8) {
  left: 55%;
  bottom: 240px;
}

.page02_01 .ask_item:nth-child(9) {
  left: 65%;
  bottom: 370px;
}

.page02_01 .ask_item:nth-child(10) {
  left: 72%;
  bottom: 130px;
}

.page02_01 .ask_item:nth-child(11) {
  left: 80%;
  bottom: 30px;
}

.page02_01 .ask_item:nth-child(12) {
  left: 90%;
  bottom: 300px;
}

.page02_02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.page02_02 .card_wrap {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  margin: 150px auto;
}

.page02_02 .card_box, .page02_02 .card_hover {
  position: relative;
  margin: 30px 10px;
  width: 100%;
  height: 100%;
  max-width: 265px;
  max-height: 389px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  border: 1px solid white;
}

.page02_02 .card_box span, .page02_02 .card_hover span {
  position: absolute;
  left: 10px;
  top: -20px;
  color: #379595;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
}

.page02_02 .card_box .card_contain, .page02_02 .card_hover .card_contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px 20px;
  letter-spacing: 0.15em;
}

.page02_02 .card_box .card_contain h3, .page02_02 .card_hover .card_contain h3 {
  margin-bottom: 11px;
  color: #379595;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.15em;
  text-align: center;
}

.page02_02 .card_box .card_contain p, .page02_02 .card_hover .card_contain p {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.page02_02 .card_box .card_contain img, .page02_02 .card_hover .card_contain img {
  width: 180px;
}

.page02_02 .card_hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  background: rgba(184, 146, 90, 0.5);
  border: 1px solid #b8925a;
}

.page02_02 .card_hover img {
  width: 146.08px;
}

.page02_02 .card_hover button {
  margin-top: 80px;
  padding: 10px 48px;
  border: 1px solid #886024;
  background-color: rgba(184, 146, 90, 0.4);
  color: #886024;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-align: center;
}

.page02_02 .card_hover button:hover {
  color: white;
  background-color: #886024;
}

.page02_02 .card_hover button:disabled {
  border: 1px solid #AEAEAE;
  background-color: #E0E0E0;
  color: #AEAEAE;
}

.page02_02 .card_box:hover {
  border: none;
}

.page02_02 .card_box:hover .card_contain {
  opacity: 0.2;
}

.page02_02 .card_box:hover .card_hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page02_02 .cloud {
  position: absolute;
  left: 15%;
  top: 15%;
  opacity: .7;
}

.page02_02 .cloud_02 {
  left: 70%;
  top: 55%;
}

.page02_02 .cloud_03 {
  left: 10%;
  top: 75%;
}

.page02_02 .cloud_04 {
  left: 60%;
  top: 86%;
}

.card_box:nth-child(3n+1), .card_box:nth-child(3n+3) {
  position: relative;
  bottom: 60px;
}

.page_03 {
  position: relative;
  height: 95vh;
  background-color: white;
}

.page_03 h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 139px 0 67px 142px;
  color: #4f4f4f;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.15em;
}

.page_03 h2 img {
  margin-right: 10px;
  width: 25px;
}

.page_03 .cooperate_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0 0 200px;
  width: 100%;
  max-width: 780px;
}

.page_03 .cooperate_wrap .cooperate_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  width: 100%;
  max-width: 120px;
  cursor: url("../img/mouse/click.svg"), default;
}

.page_03 .cooperate_wrap .cooperate_item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.page_03 .cooperate_wrap .cooperate_item:hover h4 {
  display: none;
}

.page_03 .cooperate_wrap .cooperate_item:hover h4.totalname {
  display: block;
}

.page_03 .cooperate_wrap .cooperate_item .item_pic {
  margin-bottom: 25px;
  -webkit-box-shadow: 0 0 7px 1px rgba(131, 131, 131, 0.3);
          box-shadow: 0 0 7px 1px rgba(131, 131, 131, 0.3);
  border-radius: 6px;
}

.page_03 .cooperate_wrap .cooperate_item .item_pic img {
  padding: 37px;
  width: 55.31px;
}

.page_03 .cooperate_wrap .cooperate_item h4 {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.15em;
  text-align: center;
  white-space: nowrap;
}

.page_03 .cooperate_wrap .cooperate_item h4.totalname {
  display: none;
  color: #379595;
}

.page_03 .cooperate_wrap .cooperate_item h4.totalname::after {
  content: "";
  display: block;
  margin-top: 10.5px;
  border-bottom: 3px solid #379595;
}

.page_03 .page_03_bg {
  position: absolute;
  right: -5px;
  top: 0;
  max-width: 230px;
  width: 100%;
  height: 100%;
  background-image: url(../img/index/background_03.jpeg);
  background-position: center;
  background-size: cover;
  -webkit-clip-path: url(#clipping);
          clip-path: url(#clipping);
}

@media (max-width: 1260px) {
  .page02_01 .ask_item:nth-child(4) {
    left: 14%;
  }
  .page_03 h2 {
    margin: 120px 0 67px 55px;
  }
  .page_03 .cooperate_wrap {
    margin: 30px 0 0 50px;
  }
}

@media (max-width: 1200px) {
  .index_link {
    display: none;
  }
  .page02_01 .ask_wrap {
    height: 650px;
    margin-top: 30px;
  }
  .page02_01 .ask_item:nth-child(1) {
    bottom: 550px;
  }
  .page02_01 .ask_item:nth-child(2) {
    bottom: 250px;
  }
  .page02_01 .ask_item:nth-child(3) {
    bottom: 360px;
  }
  .page02_01 .ask_item:nth-child(4) {
    left: 11%;
  }
  .page02_01 .ask_item:nth-child(5) {
    bottom: 150px;
    left: 26%;
  }
  .page02_01 .ask_item:nth-child(6) {
    bottom: 520px;
  }
  .page02_01 .ask_item:nth-child(7) {
    bottom: 500px;
    left: 77%;
  }
  .page02_01 .ask_item:nth-child(8) {
    left: 44%;
  }
  .page02_01 .ask_item:nth-child(9) {
    left: 58%;
    bottom: 397px;
  }
  .page02_01 .ask_item:nth-child(11) {
    bottom: 15px;
  }
}

@media (max-width: 980px) {
  .page02_01 .ask_item {
    padding: 10px 25px;
  }
  .page02_01 .ask_item:nth-child(1) {
    bottom: 580px;
  }
  .page02_01 .ask_item:nth-child(6) {
    bottom: 520px;
  }
  .page_03 {
    height: auto;
  }
  .page_03 .cooperate_wrap {
    margin: 30px auto auto 60px;
    width: 60%;
  }
}

@media (max-width: 860px) {
  .page02_02 .card_wrap {
    margin-top: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page02_02 .card_box {
    margin: 15px 10px;
  }
  .page02_02 .card_box:nth-child(3n+1), .page02_02 .card_box:nth-child(3n+3) {
    bottom: 0;
  }
  .page02_02 .card_box:nth-child(2n) {
    position: relative;
    bottom: -60px;
  }
}

@media (max-width: 768px) {
  .page_01 {
    height: 117vh;
    background-size: 120px 120px,cover;
  }
  .page_01 .page_01_title {
    top: 15%;
  }
  .top_cloud_01, .top_cloud_06 {
    display: none;
  }
  .top_cloud_02 {
    width: 500px;
    right: 55%;
    -webkit-transform: translateY(-35px);
            transform: translateY(-35px);
  }
  .top_cloud_03 {
    right: -14%;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  .top_cloud_04 {
    right: -13%;
    -webkit-transform: translateY(-120px);
            transform: translateY(-120px);
  }
  .top_cloud_05 {
    right: 53%;
    -webkit-transform: translateY(-145px);
            transform: translateY(-145px);
  }
  .page_02 h2 {
    margin: 100px;
  }
  .page02_01 .scroll_box {
    display: none;
  }
  .page02_01 .ask_wrap {
    height: 110vh;
    margin-bottom: 200px;
  }
  .page02_01 .ask_item {
    padding: 10px 20px;
  }
  .page02_01 .ask_item:nth-child(11), .page02_01 .ask_item:nth-child(12) {
    display: none;
  }
  .page02_01 .ask_item:nth-child(1) {
    left: -10%;
    bottom: 800px;
  }
  .page02_01 .ask_item:nth-child(2) {
    left: -27%;
    bottom: 280px;
  }
  .page02_01 .ask_item:nth-child(3) {
    left: 0%;
    bottom: 425px;
  }
  .page02_01 .ask_item:nth-child(4) {
    bottom: 0;
    left: 27%;
  }
  .page02_01 .ask_item:nth-child(5) {
    bottom: 180px;
    left: 15%;
  }
  .page02_01 .ask_item:nth-child(6) {
    left: 28%;
    bottom: 600px;
  }
  .page02_01 .ask_item:nth-child(7) {
    left: 48%;
  }
  .page02_01 .ask_item:nth-child(8) {
    left: 32%;
    bottom: 325px;
  }
  .page02_01 .ask_item:nth-child(9) {
    bottom: 715px;
  }
  .page02_01 .ask_item:nth-child(10) {
    left: 84%;
    bottom: 130px;
  }
  .page_03 .cooperate_wrap {
    max-width: 400px;
    width: 100%;
    margin: 30px auto auto 100px;
  }
  .page_03 .page_03_bg {
    top: 30%;
  }
}

@media (max-width: 670px) {
  .page_03 .cooperate_wrap {
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page_03_bg {
    display: none;
  }
}

@media (max-width: 575px) {
  .page02_02 .cloud {
    display: none;
  }
  .page02_02 .card_box:nth-child(2n) {
    bottom: 0;
  }
}

@media (max-width: 420px) {
  .page_01 {
    background-size: 80px 80px,cover;
  }
  .page_01 .top_cloud_02 {
    right: 27%;
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  .page_01 .top_cloud_03 {
    right: -66%;
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  .page_01 .top_cloud_04 {
    right: -48%;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  .page_01 .top_cloud_05 {
    right: 39%;
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
  }
  .page_01 .scroll_box {
    bottom: 80px;
  }
  .page_01 .scroll_box .index_scrolldown {
    font-size: 14px;
  }
  .page_01 .page_01_title {
    top: 10%;
    left: 20%;
  }
  .page_01 .page_01_title p {
    font-size: 24px;
    margin: 9px 0;
  }
  .page_01 .page_01_title span {
    font-size: 16px;
  }
  .page_02 h2 {
    margin: 100px 20px;
    font-size: 24px;
  }
  .page_02 .ask_wrap {
    margin-bottom: 150px;
  }
  .page02_01 .ask_item:nth-child(2) {
    bottom: 260px;
  }
  .page02_01 .ask_item:nth-child(10) {
    bottom: 105px;
  }
  .page_03 .cooperate_wrap {
    max-width: none;
    width: 90%;
  }
  .page_03 .cooperate_wrap .cooperate_item {
    margin: 10px;
  }
}

@media (max-width: 500px) {
  .page_01 {
    background-size: 65px 65px,cover;
  }
  .page_01 .page_01_title p {
    font-size: 21px;
    margin: 5px 0;
  }
  .page_01 .page_01_title span {
    font-size: 14px;
  }
  .page_01 .top_cloud_04 {
    right: -80%;
  }
  .page_01 .top_cloud_03 {
    right: -83%;
  }
  .page_02 h2 {
    margin: 100px 10px;
    font-size: 20px;
  }
  .page02_01 .ask_item {
    padding: 8px 20px;
    font-size: 14px;
  }
}

@media (max-width: 310px) {
  .page_03 .cooperate_wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 280px) {
  .page_01 .top_cloud_02 {
    right: 5%;
  }
  .page_01 .top_cloud_04 {
    right: -102%;
  }
  .page_01 .top_cloud_03 {
    right: -106%;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}
/*# sourceMappingURL=index.css.map */