/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button, input, a {
  text-decoration: none;
  color: #4f4f4f;
  cursor: url("../img/mouse/click.svg"), default;
}

html {
  background: url(../img/material.png);
  cursor: url("../img/mouse/normal.svg"), default;
  font-style: normal;
}

body {
  width: 100%;
  background: url(../img/material.png);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
  display: block;
}

header {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
}

.nav-pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  height: 60px;
}

.nav-pc a {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.15em;
}

.nav_logo {
  padding: 9px 0 11px 110px;
  width: 120px;
}

.nav_item {
  background-color: rgba(212, 232, 237, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 200px;
}

.nav_item ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  color: #68543b;
  position: relative;
}

.nav_item ul a:hover {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.nav_item ul a:hover::before {
  -webkit-animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
          animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
  content: "";
  width: 2px;
  height: 170%;
  background: #8BCDC1;
  position: absolute;
  left: 49%;
  top: -150%;
}

.nav_item li {
  margin: 0 50px;
}

@-webkit-keyframes sdl {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  30% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  70% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

@keyframes sdl {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  30% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  70% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

.nav_ask {
  position: absolute;
  right: 0;
  padding: 26px 46px;
  white-space: nowrap;
  background-color: #379595;
}

.nav_ask a {
  color: white;
}

.nav-sp {
  background-color: rgba(212, 232, 237, 0.2);
  position: relative;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 60px;
  display: none;
}

.nav-sp a {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.15em;
}

.nav-sp .nav_logo {
  padding: 9px;
  margin: auto;
}

.burger {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  background-image: url("../img/hamburger.svg");
  background-color: #379595;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.burger.active {
  background-image: url("../img/close.svg");
}

.nav-sp-bar {
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  background: rgba(55, 149, 149, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 4;
}

.bar_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15%;
}

.bar_wrap li {
  margin-bottom: 90px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.15em;
  text-align: center;
  color: white;
}

.nav_link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_link li {
  margin: 30px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: url("../img/mouse/click.svg"), default;
}

.nav_link li:nth-child(1) {
  background-image: url("../img/link/facebook/sp.svg");
}

.nav_link li:nth-child(2) {
  background-image: url("../img/link/phone/sp.svg");
}

.nav_link li:nth-child(3) {
  background-image: url("../img/link/line/sp.svg");
}

.nav_link li:nth-child(4) {
  background-image: url("../img/link/mail/sp.svg");
}

@media (max-width: 1200px) {
  .nav-pc {
    display: none;
  }
  .nav-sp {
    display: block;
  }
}

@media (max-width: 500px) {
  .nav-sp {
    height: 50px;
  }
  .burger {
    width: 50px;
    height: 50px;
  }
  .nav-sp-bar {
    top: 50px;
  }
}

footer {
  width: 100vw;
  height: 320px;
  background-image: url("../img/footer_pc.png");
  background-color: white;
  background-repeat: repeat-x;
  background-position: bottom;
}

.footer_wrap {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0.15em;
}

.footer_wrap hr {
  width: 90%;
}

.item_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 100px;
}

.footer_info_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px;
  word-break: break-all;
  white-space: pre-wrap;
}

.footer_info_item img {
  width: 30px;
}

.footer_info_item span {
  margin-left: 10px;
}

.footer_copyright {
  text-align: center;
  margin-top: 20px;
  font-weight: 200;
}

.item_left, .item_right {
  display: none;
}

@media (max-width: 1100px) {
  .footer_info_item {
    margin: 20px;
  }
}

@media (max-width: 1000px) {
  .footer_info_item {
    margin: 15px;
  }
}

@media (max-width: 765px) {
  .item_left, .item_right {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .item_box {
    display: none;
  }
  footer {
    height: 340px;
    background-image: url("../img/footer_tablet.png");
    background-repeat: contain;
  }
  .item_tb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: "";
            flex-direction: "";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_wrap {
    padding: 30px;
    padding-top: 140px;
  }
  .footer_info_item {
    margin: 10px;
  }
}

@media (max-width: 600px) {
  .footer_wrap {
    padding-top: 120px;
  }
}

@media (max-width: 500px) {
  .footer_wrap {
    font-size: 14px;
  }
  .footer_info_item {
    margin: 7px;
  }
}

@media (max-width: 400px) {
  .item_tb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer_info_item {
    margin: 5px;
  }
  .footer_wrap {
    padding: 0 30px;
    padding-top: 90px;
  }
  .footer_copyright {
    margin-top: 10px;
  }
}

@media (max-width: 320px) {
  footer {
    background-image: url("../img/footer_sp.png");
    height: 400px;
  }
  .footer_wrap {
    padding: 30px;
    padding-top: 90px;
  }
  .footer_info_item {
    margin: 10px;
  }
  .footer_copyright {
    margin-top: 15px;
  }
}

@media (max-width: 280px) {
  .footer_wrap {
    padding: 20px;
    padding-top: 90px;
  }
}

.loadpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url(../img/material.png);
  background-color: #379595;
  z-index: 1000;
}

#loading, #loaded {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 20%;
}

#loaded {
  display: none;
}

#progress {
  position: relative;
  bottom: -15%;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.2em;
  color: white;
}

@media (max-width: 1200px) {
  #progress {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (max-width: 500px) {
  #progress {
    font-size: 32px;
  }
  #loading, #loaded {
    width: 600px;
    height: 600px;
    top: 25%;
  }
}

body {
  background: white;
}

header {
  background-color: white;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 60px;
  margin-top: -10px;
  width: 100vw;
  height: 280px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 235, 193, 0.4)), color-stop(87.5%, rgba(193, 237, 226, 0.4)));
  background: linear-gradient(180deg, rgba(255, 235, 193, 0.4) 0%, rgba(193, 237, 226, 0.4) 87.5%);
  color: white;
}

.top::after {
  content: "";
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-image: url("../img/knowledge/knowledge_background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top h1 {
  z-index: 1;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.2em;
  margin-bottom: 15px;
}

.top h2 {
  z-index: 1;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 0px 11px 3px rgba(33, 33, 33, 0.1);
          box-shadow: 0px 0px 11px 3px rgba(33, 33, 33, 0.1);
  border-radius: 2px;
  position: sticky;
  position: -webkit-sticky;
  top: 60px;
}

.tabs .tablink {
  padding: 15px 75px;
  color: #4f4f4f;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.15em;
}

.tabs .tablink:hover {
  background-color: #379595;
  color: white;
}

.tabs .tablink:hover span {
  position: relative;
  left: 10px;
}

.tabs.active {
  background-color: #379595;
  color: white;
}

.tabs.active span {
  position: relative;
  left: 10px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 70px;
}

.content_wrap {
  width: 100%;
  max-width: 580px;
  margin: 0px 180px 0 65px;
  z-index: 0;
}

.content_wrap .content_box {
  position: relative;
  letter-spacing: 0.15em;
  color: #4f4f4f;
  padding: 15px 0;
  margin: 0 30px 30px;
  border-bottom: 1px solid #8bcdc1;
  cursor: url("../img/mouse/click.svg"), default;
}

.content_wrap .content_box span {
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
}

.content_wrap .content_box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.content_wrap .content_box:after {
  position: absolute;
  display: block;
  bottom: -2px;
  content: "";
  width: 0%;
  height: 3px;
  background: #379595;
  -webkit-transition: .3s;
  transition: .3s;
  left: auto;
}

.content_wrap .content_box:hover::after {
  width: 100%;
  left: 0;
}

@media (max-width: 1200px) {
  .top {
    display: none;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
    padding: 0;
  }
  .tabs {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    width: 100%;
    background: #d1efed;
    -webkit-box-shadow: none;
            box-shadow: none;
    z-index: 2;
  }
  .tabs .tablink {
    padding: 15px 40px;
    max-width: 300px;
    width: 100%;
  }
  .tabs .tablink:hover {
    background-color: transparent;
    color: #4f4f4f;
  }
  .tabs .tablink:hover span {
    position: relative;
    left: 0;
  }
  .content_wrap {
    margin: 120px auto 40px auto;
  }
}

@media (max-width: 770px) {
  .tabs {
    display: block;
    padding: 15px 0;
    overflow-x: auto;
    white-space: nowrap;
  }
  .tabs .tablink {
    max-width: none;
    width: auto;
  }
  .content_wrap {
    margin-top: 100px;
  }
}

@media (max-width: 500px) {
  .content_wrap .content_box {
    border-bottom: none;
    margin: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content_wrap .content_box::after {
    width: 80%;
    background-color: #8bcdc1;
    height: 1px;
  }
  .content_wrap .content_box p {
    text-align: center;
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .tabs {
    top: 50px;
  }
  .content_wrap .content_box {
    margin: 30px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content_wrap .content_box::after {
    width: 90%;
  }
  .content_wrap .content_box p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=knowledge.css.map */