.loadpage{
    @include flex(column,center,center);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background:url(../img/material.png);
    background-color: $green;
    z-index: 998;
    overflow: hidden;
}
#loaded{
    width: 700px;
    height: 700px;
    position: absolute;
    top:0%;
}
#progress{
    position: relative;
    bottom: -15%;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.2em;
    color: white;  
}
.mask_wrap{
    opacity: 0;
    @include flex(column,center,center);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 998;
    overflow: hidden;
}
#mask_circle{
    width: 400px;
    height: 400px;
}
#mask_circle_deep {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%,50%);
    circle{
        opacity: 1;
        fill:red;
    }
}


@media (max-width: $desktop){

    #progress{
        font-size: 60px;
        line-height: 70px;
    }
}

@media (max-width: $mobile){
    #progress{
        font-size: 32px;
    }
    #loading,#loaded{
        width: 600px;
        height: 600px;
        top: 5%;
    }
}