// 字體
$title:24px;
$h2:21px;
$h3:18px;

// cursor
$click:url("../img/mouse/click.svg"), default;
$regular:url("../img/mouse/normal.svg"), default;

// 顏色
$nav_color:rgba(104, 84, 59, 1);
$nav_back:rgba(212, 232, 237, 0.2);
$green:rgba(55, 149, 149, 1);

$gray2:rgba(79, 79, 79, 1);
$gray3:rgba(130, 130, 130, 1);
$brown:rgba(136, 96, 36, 1);

// 斷點 breakpoint
$desktop: 1200px;
$mobile : 500px;


